doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Coloca tu nuevo Password
            
            if locals.mensajes
              .alertas 
                each categoria in Object.keys(locals.mensajes)
                    each error in mensajes[categoria]
                        .alerta(class=`${categoria}`)
                            p= error
            
            form.caja-login(method="post") 
                .campo 
                    label(for="password") Password: 
                    input(type="password" name="password" placeholder="Nuevo Password")
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer password")